{{ .Site.Title }}
                
                {{- if (not site.Params.disableThemeToggle) -}}
                
                    
                        
                            
                        
                        
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        
                    
                
                {{- end -}}
            
            奥多摩のオフトレイル・ハイキングときどきカンツォーネ
        
        {{- $currentPage := . -}}
        
            {{- range site.Menus.main -}}
            {{- $menu_item_url := (.URL | absLangURL) -}}
            {{- $page_url:= $currentPage.Permalink | absLangURL -}}
            {{- $is_search := eq (site.GetPage .KeyName).Layout "search" -}}
            
                
                    
                        {{- .Pre -}}
                        {{- .Name -}}
                        {{- .Post -}}
                    
                
            
            {{- end -}}