<header class="header">
    <nav class="nav">
        <div class="logo">
            {{- $label_text := (.Site.Params.label.text | default .Site.Title) -}}
            <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ $label_text }} (Alt + H)">
                {{- if .Site.Params.label.icon -}}
                {{- $img := resources.Get .Site.Params.label.icon -}}
                {{- if $img -}}
                    {{- $processableFormats := (slice "jpg" "jpeg" "png" "gif" "webp") -}}
                    {{- if in $processableFormats $img.MediaType.SubType -}}
                        {{- $img = $img.Resize (printf "%dx%d" (.Site.Params.label.iconHeight | default "30") (.Site.Params.label.iconWidth | default "30")) -}}
                    {{- end -}}
                    <img src="{{ $img.Permalink }}" alt="" aria-label="logo"
                        height="{{ .Site.Params.label.iconHeight | default "30" }}"
                        width="{{ .Site.Params.label.iconWidth | default "30" }}">
                {{- else -}}
                <img src="{{ .Site.Params.label.icon | absURL }}" alt="" aria-label="logo"
                    height="{{ .Site.Params.label.iconHeight | default "30" }}"
                    width="{{ .Site.Params.label.iconWidth | default "30" }}">
                {{- end -}}
                {{- end -}}
                {{- /* safeHTML を通すことで改行タグやスタイルのレンダリングを許可します */ -}}
                {{- $label_text | safeHTML -}}
            </a>
            <div class="logo-switches">
                {{- if (not site.Params.disableThemeToggle) -}}
                <button id="theme-toggle" accesskey="t" title="(Alt + T)">
                    <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 1 21 12.79z"></path>
                    </svg>
                    <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="12" cy="12" r="5"></circle>
                        <line x1="12" y1="1" x2="12" y2="3"></line>
                        <line x1="12" y1="21" x2="12" y2="23"></line>
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                        <line x1="1" y1="12" x2="3" y2="12"></line>
                        <line x1="21" y1="12" x2="23" y2="12"></line>
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                    </svg>
                </button>
                {{- end -}}
            </div>
        </div>
        {{- $currentPage := . -}}
        <ul id="menu">
            {{- range site.Menus.main -}}
            {{- $menu_item_url := (.URL | absLangURL) -}}
            {{- $page_url:= $currentPage.Permalink | absLangURL -}}
            {{- $is_search := eq (site.GetPage .KeyName).Layout "search" -}}
            <li>
                <a href="{{ $menu_item_url }}" title="{{ .Title | default .Name }}" {{- if $is_search }} accesskey="/"{{ end }}>
                    <span {{- if or (eq $menu_item_url $page_url) (and (hasPrefix $page_url $menu_item_url) (ne $menu_item_url ("/ " | absLangURL))) }} class="active"{{ end }}>
                        {{- .Pre -}}
                        {{- .Name -}}
                        {{- .Post -}}
                    </span>
                </a>
            </li>
            {{- end -}}
        </ul>
    </nav>
</header>