{{ $src := .Get "src" }}
{{ $caption := .Get "caption" }}
{{ $alt := default $caption (.Get "alt") }}

{{ $image := resources.Get (printf "images/%s" $src) }}
{{ if $image }}
  {{/* 再圧縮せずそのまま出力 */}}
  <figure class="post-photo">
    <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $alt }}" loading="lazy">
    {{ if $caption }}
      <figcaption>{{ $caption }}</figcaption>
    {{ end }}
  </figure>
{{ else }}
  <p style="color:red;">画像が見つかりません: assets/images/{{ $src }}</p>
{{ end }}